.main-body {
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #c9a8a9;
    background: linear-gradient(to right,  #77717e 0%,#c9a8a9 100%);
    background:  -moz-linear-gradient(to right,  #77717e 0%,#c9a8a9 100%);
    background: -o-linear-gradient(to right,  #77717e 0%,#c9a8a9 100%);
    background: -ms-linear-gradient(to right,  #77717e 0%,#c9a8a9 100%);

    font-family: 'Cairo', sans-serif;
}
.main {
    margin-top: 50px;
    margin-right: 53px;
}
.nav-main {
    margin-top: 20px;
    color: white;
}
.main-title {
    color: white;
    font-size: 30px;
    padding-top: 100px;

}
.main-head {
    font-size: 20px;
    color: white;
}
.user-info{

}
.u-i {
    margin-right: 20px;
    cursor: pointer;
}


.item {
    border: 1px;
    width: 75px;
    height: 75px;
}
.icon-item {
    position: relative;
    top: 31px;
    right: 5px;
    color: white;
}
.redk {
    background-color: #ACB41F;
}
.green1 {
    background-color: #C76363;
}
.green2 {
    background-color: #885C5B;
}
.green3 {
    background-color: #E8670F;
}
.grey1 {
    background-color: #778ca3;
}
.grey2 {
    color:#4b6584;
}
.purple1{
    color:#a55eea;
}
.purple2 {
    color:#8854d0;
}


